In [54]:
import pdb
import pandas as pd
import numpy as np
import os
import random
from scipy import stats
from scipy.stats import gaussian_kde
from datetime import datetime
from faker import Faker
np.random.seed(3101)
random_state = np.random.RandomState(3101)
fake = Faker()
pd.set_option('display.float_format', lambda x: '{:.6f}'.format(x))

# Importing data:
bank1 = archive  
bank2 = bank+marketing

In [55]:
# print(os.getcwd())
bank_df_train = pd.read_csv('./data/main/train.csv')
bank_df_test = pd.read_csv('./data/main/test.csv')

In [56]:
print(bank_df_train.head())
print(len(bank_df_train))

# bank_df_train_clean = bank_df_train.drop_duplicates(subset="CustomerId", keep="first")
# print(len(bank_df_train_clean))

   id  CustomerId         Surname  CreditScore Geography Gender       Age  \
0   0    15674932  Okwudilichukwu          668    France   Male 33.000000
1   1    15749177   Okwudiliolisa          627    France   Male 33.000000
2   2    15694510           Hsueh          678    France   Male 40.000000
3   3    15741417             Kao          581    France   Male 34.000000
4   4    15766172       Chiemenam          716     Spain   Male 33.000000

   Tenure       Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       3      0.000000              2   1.000000        0.000000
1       1      0.000000              2   1.000000        1.000000
2      10      0.000000              2   1.000000        0.000000
3       2 148882.540000              1   1.000000        1.000000
4       5      0.000000              2   1.000000        1.000000

   EstimatedSalary  Exited
0    181449.970000       0
1     49503.500000       0
2    184866.690000       0
3     84560.880000       0
4     15068.830000       0
165034

In [57]:
print(bank_df_test.head())
len(bank_df_test)
# duplicates = bank_df_test.duplicated(subset=['CustomerId'], keep=False)
# print(duplicates)
#no "exited" column

       id  CustomerId    Surname  CreditScore Geography  Gender       Age  \
0  165034    15773898   Lucchese          586    France  Female 23.000000
1  165035    15782418       Nott          683    France  Female 46.000000
2  165036    15807120         K?          656    France  Female 34.000000
3  165037    15808905  O'Donnell          681    France    Male 36.000000
4  165038    15607314    Higgins          752   Germany    Male 38.000000

   Tenure       Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2      0.000000              2   0.000000        1.000000
1       2      0.000000              1   1.000000        0.000000
2       7      0.000000              2   1.000000        0.000000
3       8      0.000000              1   1.000000        0.000000
4      10 121263.620000              1   1.000000        0.000000

   EstimatedSalary
0    160976.750000
1     72549.270000
2    138882.090000
3    113931.570000
4    139431.000000

110023

Data Cleaning

Removed CustomerId column in both test & train since it is an unused var in the original dataset
All other columns returns no duplicates

In [58]:
# bank_df_train = bank_df_train.loc[:, bank_df_train.columns!='CustomerId'] # extract all columns except for CustomerId
# print(bank_df_train[bank_df_train.duplicated() == True]) # check for duplicate columns 

# bank_df_test = bank_df_test.loc[:, bank_df_test.columns!='CustomerId']

### DELETE OR COMMENT OUT THIS LATER ###
bank_df_train.drop_duplicates(subset=['CustomerId'], inplace=True)
bank_df_test.drop_duplicates(subset=['CustomerId'], inplace=True)
n_train = len(bank_df_train)
print(n_train)
### DELETE OR COMMENT OUT THIS LATER ###

# n_test = len(bank_df_test)

23221

# Adding and populating features

### 13. Churn Date: The exact date the customer decided to exit.

In [59]:
start_date = "2023-01-01"
end_date = "2023-12-31"

random_dates = pd.date_range(start=start_date, end=end_date, freq='D')
random_dates_str = random_dates.strftime('%Y-%m-%d')
bank_df_train['ChurnDate'] = np.where(bank_df_train['Exited'] == 1, np.random.choice(random_dates_str) , np.nan) 
print(bank_df_train['ChurnDate'].head(10))

0           nan
1           nan
2           nan
3           nan
4           nan
5    2023-07-20
6           nan
7           nan
8           nan
9           nan
Name: ChurnDate, dtype: object

### 14. Sign Up Date: When did the customer create an account
has to be linked with churn date if any, and tenure. Tenure is usually rounded down, so

In [60]:
def generate_signon_date(churn_date, tenure, exited):
    if exited == 0:
        churn_date = "2023-12-31"
    churn_date = pd.to_datetime(churn_date)
    max = churn_date - pd.DateOffset(years=tenure)
    min = churn_date - pd.DateOffset(years=(tenure + 1))
    random_dates = pd.date_range(min, max, freq='D').strftime('%Y-%m-%d')
    random_date = np.random.choice(random_dates)
    return random_date


bank_df_train['SignDate'] = bank_df_train.apply(lambda row: generate_signon_date(row['ChurnDate'], row['Tenure'], row['Exited']), axis = 1)
print(bank_df_train[['SignDate', 'ChurnDate', 'Tenure']].head(10))

bank_df_test['SignDate'] = bank_df_train.apply(lambda row: generate_signon_date("2023-12-31", row['Tenure'], 0), axis = 1)
# print(bank_df_train_clean.head(10))

     SignDate   ChurnDate  Tenure
0  2020-03-08         nan       3
1  2022-12-17         nan       1
2  2013-06-08         nan      10
3  2021-07-08         nan       2
4  2018-05-19         nan       5
5  2019-05-26  2023-07-20       4
6  2015-07-29         nan       8
7  2022-08-11         nan       1
8  2019-04-15         nan       4
9  2019-01-22         nan       4

### 15.Transaction History 1
Detailed transaction data offers insights into spending patterns and engagement. (Transaction frequency in the last 28 days)

In [61]:
transaction_df = pd.read_excel('./data/transaction_history.xlsx')

# print(transaction_df.head())
transaction_df['DATE'] = pd.to_datetime(transaction_df['DATE'])

grouped_df = transaction_df.groupby('Account No')

results = []
for group_name, group_data in grouped_df:
    # Get max and min dates for the group
    max_date = group_data['DATE'].max()
    min_date = max_date - pd.Timedelta(days=28)
    
    # Filter group data for transactions within the date range
    filtered_group = group_data[(group_data['DATE'] >= min_date) & (group_data['DATE'] <= max_date)]
    
    # Calculate transaction frequency and amount for the group
    transaction_frequency = len(filtered_group)
    transaction_amount = filtered_group['DEPOSIT AMT'].sum()
    
    # Append results to the list
    results.append({
        'Account No': group_name,
        'Total Transaction Amount': transaction_amount,
        'Transaction Frequency': transaction_frequency
    })

# Create DataFrame from results
result_df = pd.DataFrame(results)

result_df['Total Transaction Amount'] = result_df['Total Transaction Amount'].astype(int)
pd.options.display.float_format = '{:,.0f}'.format
# print(result_df['Total Transaction Amount'])

# print("Minimum date in the dataset:", min_date)
# print("Maximum date in the dataset:", max_date)

kde_freq = gaussian_kde(result_df['Transaction Frequency'])
kde_amnt = gaussian_kde(result_df['Total Transaction Amount'])
# print(result_df['Total Transaction Amount'])

fake_data_freq = kde_freq.resample(len(bank_df_train)).flatten()
fake_data_freq = np.round(fake_data_freq).astype(int)
bank_df_train['TransactionFreq'] = fake_data_freq
fake_data_freq = kde_freq.resample(len(bank_df_test)).flatten()
fake_data_freq = np.round(fake_data_freq).astype(int)
bank_df_test['TransactionFreq'] = fake_data_freq

# fake_data_amt = kde_amnt.resample(len(bank_df_train)).flatten()
# # fake_data_amt = np.round(fake_data_amt).astype(int)
# bank_df_train['TransactionAmnt'] = fake_data_amt
# fake_data_amt = kde_amnt.resample(len(bank_df_test)).flatten()
# # fake_data_amt = np.round(fake_data_amt).astype(int)
# bank_df_test['TransactionAmnt'] = fake_data_amt

# print(bank_df_train['TransactionAmnt'].head())

### 16. Transaction History 2
Detailed transaction data offers insights into spending patterns and engagement. (Transaction amount in the last 28 days)

In [62]:
# Import reference set
# Warning: File size slightly big
trans_hist_data = pd.read_excel('./data/transaction_history.xlsx')

trans_hist_data.dtypes
# trans_hist_data.describe()

# Extract the most recent 2 sets of 3 months assuming the most recent data is the most accurate
trans_1st_3mths = trans_hist_data[(trans_hist_data['DATE'] >= pd.to_datetime('2019-01')) & (trans_hist_data['DATE'] <= pd.to_datetime('2019-03'))]
trans_2ns_3mths = trans_hist_data[(trans_hist_data['DATE'] >= pd.to_datetime('2018-10')) & (trans_hist_data['DATE'] <= pd.to_datetime('2018-12'))]

trans_dist_data = trans_1st_3mths.groupby('Account No').agg({'VALUE DATE': 'size', 'WITHDRAWAL AMT':'sum', 'DEPOSIT AMT': 'sum'}).reset_index()
trans_dist_data['TOTAL AMT'] = -trans_dist_data['WITHDRAWAL AMT'] + trans_dist_data['DEPOSIT AMT']

# kde = gaussian_kde(trans_dist_data['VALUE DATE'])
# train['Transaction Freq'] = abs(kde.resample(n_train).flatten()).astype(int)

kde = gaussian_kde(trans_dist_data['TOTAL AMT'])
bank_df_train['Transaction Amt'] = kde.resample(n_train).flatten().astype(float)

### 17. Call support frequency
Higher calls might indicate issues and dissatisfaction, affecting churn. Past year. Past month

In [63]:
support_freq = pd.read_csv("./data/support_frequency.csv")

kde = gaussian_kde(support_freq['no_of_cases'])
bank_df_train['call support frequency'] = abs(kde.resample(n_train).flatten()/12).astype(int)
print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  \
0        0              2          1               0          181,450       0
1        0              2          1               1           49,504       0
2        0              2          1               0          184,867       0
3  148,883              1          1               1           84,561       0
4        0              2          1               1           15,069       0

  ChurnDate    SignDate  TransactionFreq  Transaction Amt  \
0       nan  2020-03-08             1120          133,874
1       nan  2022-12-17                3       -1,469,355
2       nan  2013-06-08             -364        3,924,558
3       nan  2021-07-08              356       -3,401,110
4       nan  2018-05-19              318          285,150

   call support frequency
0                      17
1                      33
2                       9
3                       2
4                      16

### 18.Relationship Count
Reflects the breadth of the customer's relationship with the bank.
Shld be correlated to 6: No. of products

In [93]:
relationship_count = pd.read_csv('./data/loan/credit_train.csv')
relationship_count['Current Loan Amount'].fillna(0, inplace=True) 

if np.any(np.isinf(relationship_count['Current Loan Amount'])):
    # Handle infinite values, such as replacing them with a large finite value
    relationship_count['Current Loan Amount'].replace([np.inf, -np.inf], np.finfo(np.float64).max, inplace=True)


median_loan_amount = relationship_count['Current Loan Amount'].median()
below_median = relationship_count[relationship_count['Current Loan Amount'] < median_loan_amount]
above_median = relationship_count[relationship_count['Current Loan Amount'] >= median_loan_amount]

# print(above_median)
kde_upper = gaussian_kde(above_median['Current Loan Amount'])
kde_lower = gaussian_kde(below_median['Current Loan Amount'])

bank_df_train['RelationshipCount'] = np.where(bank_df_train['CustomerSatisfaction'] >= 4, abs(kde_upper.resample(n_train).flatten()/12).astype(int) , abs(kde_lower.resample(n_train).flatten()/12).astype(int))


# kde = gaussian_kde(relationship_count['Current Loan Amount'])
# bank_df_train['RelationshipCount'] = abs(kde.resample(n_train).flatten()/12).astype(int)

print(bank_df_train['RelationshipCount'].head())
print(bank_df_train['RelationshipCount'].max())
print(bank_df_train['RelationshipCount'].min())

0    412575
1      2661
2     31184
3     21980
4    299740
Name: RelationshipCount, dtype: int32
9636647
2

### 19. Months Inactive
Indicates customer disengagement, potentially preceding churn.

In [65]:
np.random.seed(3101)
bank_df_train['MonthsInactive'] = np.minimum(np.random.normal(0.5, 1.5, n_train), bank_df_train['Tenure'] * 12)
bank_df_train['MonthsInactive'] = np.maximum(bank_df_train['MonthsInactive'], 0)

print(bank_df_train['MonthsInactive'].head(20))

0    1
1    1
2    2
3    0
4    1
5    2
6    3
7    1
8    1
9    0
10   0
11   0
12   0
13   1
14   0
15   1
16   3
17   0
18   2
19   1
Name: MonthsInactive, dtype: float64

### 20. Net Promoter Score (NPS)
Measure of customer satisfaction and loyalty.
Scaled from 1 to 10

In [66]:
nps = pd.read_csv('./data/NPS.csv')

nps_data = nps.groupby('Customer Name').agg({'NPS':'mean'}).reset_index()
kde = gaussian_kde(nps_data['NPS'])
bank_df_train['NPS'] = abs(kde.resample(n_train).flatten()).astype(int)

print(bank_df_train['NPS'])

0          0
1         10
2          0
3          4
4         10
          ..
164879     3
164931     9
164961     2
164998     7
165012     8
Name: NPS, Length: 23221, dtype: int32

### 21. Education
Education level might influence financial behavior and churn.
Shld be correlated to 5. Acct Balance

In [67]:
education_marital = pd.read_csv("./data/education_marital.csv")

education = education_marital['Education_Level'].unique()

edu, counts = np.unique(education, return_counts=True)
value_to_index = {value: i for i, value in enumerate(edu)}
numerical_data = [value_to_index[value] for value in education]

kde = gaussian_kde(numerical_data)

x_values = np.unique(numerical_data)
pdf_values = kde(x_values)

pmf = pdf_values / np.sum(pdf_values)

resampled_indices = np.random.choice(x_values, size=n_train, p=pmf)

resampled_values = [edu[index] for index in resampled_indices]

bank_df_train['Education'] = resampled_values

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  Exited  ChurnDate    SignDate  \
0        0              2  ...       0        nan  2020-03-08
1        0              2  ...       0        nan  2022-12-17
2        0              2  ...       0        nan  2013-06-08
3  148,883              1  ...       0        nan  2021-07-08
4        0              2  ...       0        nan  2018-05-19

   TransactionFreq Transaction Amt call support frequency  RelationshipCount  \
0             1120         133,874                     17              95970
1                3      -1,469,355                     33              14953
2             -364       3,924,558                      9             265627
3              356      -3,401,110                      2            8700126
4              318         285,150                     16              52412

   MonthsInactive  NPS      Education
0               1    0        Unknown
1               1   10        College
2               2    0  Post-Graduate
3               0    4    High School
4               1   10        Unknown

[5 rows x 23 columns]

### 22 Employment Status
Indicates financial stability, affecting churn likelihood. 
Shld be correlated to 5. Acct Balance & 21. Education

In [68]:
employment = pd.read_csv("./data/employment.csv")

employment_data = employment['job'].unique()

employment_status, counts = np.unique(employment_data, return_counts=True)
value_to_index = {value: i for i, value in enumerate(employment_status)}
numerical_data = [value_to_index[value] for value in employment_data]

kde = gaussian_kde(numerical_data)

x_values = np.unique(numerical_data)
pdf_values = kde(x_values)
pmf = pdf_values / np.sum(pdf_values)

resampled_indices = np.random.choice(x_values, size=n_train, p=pmf)

resampled_values = [employment_status[index] for index in resampled_indices]

bank_df_train['Employment Status'] = resampled_values

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  ChurnDate    SignDate  TransactionFreq  \
0        0              2  ...        nan  2020-03-08             1120
1        0              2  ...        nan  2022-12-17                3
2        0              2  ...        nan  2013-06-08             -364
3  148,883              1  ...        nan  2021-07-08              356
4        0              2  ...        nan  2018-05-19              318

   Transaction Amt call support frequency RelationshipCount  MonthsInactive  \
0          133,874                     17             95970               1
1       -1,469,355                     33             14953               1
2        3,924,558                      9            265627               2
3       -3,401,110                      2           8700126               0
4          285,150                     16             52412               1

   NPS      Education  Employment Status
0    0        Unknown            student
1   10        College         technician
2    0  Post-Graduate             admin.
3    4    High School       entrepreneur
4   10        Unknown      self-employed

[5 rows x 24 columns]

### 23. Marital Status
Can impact financial decision-making and churn behavior.

In [69]:
education_marital = pd.read_csv("./data/education_marital.csv")

marital_status = education_marital['Marital_Status'].unique()

marital, counts = np.unique(marital_status, return_counts=True)
value_to_index = {value: i for i, value in enumerate(marital)}
numerical_data = [value_to_index[value] for value in marital_status]

kde = gaussian_kde(numerical_data)

x_values = np.unique(numerical_data)
pdf_values = kde(x_values)

pmf = pdf_values / np.sum(pdf_values)

resampled_indices = np.random.choice(x_values, size=n_train, p=pmf)

resampled_values = [marital[index] for index in resampled_indices]

bank_df_train['Marital Status'] = resampled_values

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...    SignDate  TransactionFreq  Transaction Amt  \
0        0              2  ...  2020-03-08             1120          133,874
1        0              2  ...  2022-12-17                3       -1,469,355
2        0              2  ...  2013-06-08             -364        3,924,558
3  148,883              1  ...  2021-07-08              356       -3,401,110
4        0              2  ...  2018-05-19              318          285,150

   call support frequency RelationshipCount MonthsInactive  NPS  \
0                      17             95970              1    0
1                      33             14953              1   10
2                       9            265627              2    0
3                       2           8700126              0    4
4                      16             52412              1   10

       Education  Employment Status  Marital Status
0        Unknown            student        Divorced
1        College         technician        Divorced
2  Post-Graduate             admin.          Single
3    High School       entrepreneur         Married
4        Unknown      self-employed        Divorced

[5 rows x 25 columns]

### 24. Housing Status
Reflects stability and long-term commitment, influencing churn.

In [70]:
housing = pd.read_csv("./data/housing.csv")

housing_status = housing['House_Ownership'].unique()

house, counts = np.unique(housing_status, return_counts=True)
value_to_index = {value: i for i, value in enumerate(house)}
numerical_data = [value_to_index[value] for value in housing_status]

kde = gaussian_kde(numerical_data)

x_values = np.unique(numerical_data)
pdf_values = kde(x_values)

pmf = pdf_values / np.sum(pdf_values)

resampled_indices = np.random.choice(x_values, size=n_train, p=pmf)

resampled_values = [house[index] for index in resampled_indices]

bank_df_train['Housing Status'] = resampled_values

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  TransactionFreq  Transaction Amt  \
0        0              2  ...             1120          133,874
1        0              2  ...                3       -1,469,355
2        0              2  ...             -364        3,924,558
3  148,883              1  ...              356       -3,401,110
4        0              2  ...              318          285,150

   call support frequency  RelationshipCount MonthsInactive NPS  \
0                      17              95970              1   0
1                      33              14953              1  10
2                       9             265627              2   0
3                       2            8700126              0   4
4                      16              52412              1  10

       Education  Employment Status  Marital Status  Housing Status
0        Unknown            student        Divorced    norent_noown
1        College         technician        Divorced    norent_noown
2  Post-Graduate             admin.          Single    norent_noown
3    High School       entrepreneur         Married          rented
4        Unknown      self-employed        Divorced           owned

[5 rows x 26 columns]

### 25. Number of Dependents
Impacts financial priorities and risk tolerance, affecting churn.

In [71]:
dependants_df = pd.read_csv('./data/education+dependents+maritalstatus/BankChurners.csv')

kde = gaussian_kde(dependants_df['Dependent_count'])

bank_df_train['Dependants'] = np.maximum(kde.resample(len(bank_df_train)).flatten(), 0)
bank_df_train['Dependants'] = np.round(bank_df_train['Dependants']).astype(int)
bank_df_test['Dependants'] = np.maximum(kde.resample(len(bank_df_test)).flatten(), 0)
bank_df_test['Dependants'] = np.round(bank_df_test['Dependants']).astype(int)

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  Transaction Amt  call support frequency  \
0        0              2  ...          133,874                      17
1        0              2  ...       -1,469,355                      33
2        0              2  ...        3,924,558                       9
3  148,883              1  ...       -3,401,110                       2
4        0              2  ...          285,150                      16

   RelationshipCount  MonthsInactive NPS      Education  Employment Status  \
0              95970               1   0        Unknown            student
1              14953               1  10        College         technician
2             265627               2   0  Post-Graduate             admin.
3            8700126               0   4    High School       entrepreneur
4              52412               1  10        Unknown      self-employed

   Marital Status  Housing Status  Dependants
0        Divorced    norent_noown           2
1        Divorced    norent_noown           3
2          Single    norent_noown           3
3         Married          rented           4
4        Divorced           owned           2

[5 rows x 27 columns]

### 26. Marketing Offers Accepted
Indicates responsiveness to incentives, affecting churn. Range 0-1, (percentage of marketing offers they accept, e.g.5 offer, 4 accepted, the value of the column 0.8)

In [72]:
marketing_df = pd.read_csv('./data/marketing offers/marketing_campaign.csv', sep=';')


marketing_df["MarketingOffersAcceptance"] = (marketing_df['AcceptedCmp1'] + marketing_df['AcceptedCmp2'] + marketing_df['AcceptedCmp3'] + marketing_df['AcceptedCmp4'] + marketing_df['AcceptedCmp5']) / 5
# print(marketing_df.head())

kde = gaussian_kde(marketing_df['MarketingOffersAcceptance'])

bank_df_train['MarketingOffersAcceptance'] = np.maximum(kde.resample(len(bank_df_train)).flatten(), 0)
bank_df_test['MarketingOffersAcceptance'] = np.maximum(kde.resample(len(bank_df_test)).flatten(), 0)

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  call support frequency  RelationshipCount  \
0        0              2  ...                      17              95970
1        0              2  ...                      33              14953
2        0              2  ...                       9             265627
3  148,883              1  ...                       2            8700126
4        0              2  ...                      16              52412

   MonthsInactive  NPS      Education Employment Status  Marital Status  \
0               1    0        Unknown           student        Divorced
1               1   10        College        technician        Divorced
2               2    0  Post-Graduate            admin.          Single
3               0    4    High School      entrepreneur         Married
4               1   10        Unknown     self-employed        Divorced

   Housing Status  Dependants  MarketingOffersAcceptance
0    norent_noown           2                          0
1    norent_noown           3                          0
2    norent_noown           3                          0
3          rented           4                          0
4           owned           2                          0

[5 rows x 28 columns]

### 27. Channel Used for Transactions
Reflects preferred banking channels and engagement level. 
faker

In [73]:
transaction_channel_df = pd.read_csv('./data/main_payment_method/WA_Fn-UseC_-Telco-Customer-Churn.csv')

# print(transaction_channel_df.head())
methods = transaction_channel_df['PaymentMethod'].unique().tolist()
print(methods)
faked_data = [random.choice(methods) for _ in range(len(bank_df_train))]
faked_data_2 = [random.choice(methods) for _ in range(len(bank_df_test))]

bank_df_train['PaymentMethod'] = faked_data
bank_df_test['PaymentMethod'] = faked_data_2
print(bank_df_train.head())

['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']
   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  RelationshipCount  MonthsInactive  NPS  \
0        0              2  ...              95970               1    0
1        0              2  ...              14953               1   10
2        0              2  ...             265627               2    0
3  148,883              1  ...            8700126               0    4
4        0              2  ...              52412               1   10

       Education Employment Status Marital Status  Housing Status  Dependants  \
0        Unknown           student       Divorced    norent_noown           2
1        College        technician       Divorced    norent_noown           3
2  Post-Graduate            admin.         Single    norent_noown           3
3    High School      entrepreneur        Married          rented           4
4        Unknown     self-employed       Divorced           owned           2

   MarketingOffersAcceptance              PaymentMethod
0                          0  Bank transfer (automatic)
1                          0    Credit card (automatic)
2                          0           Electronic check
3                          0  Bank transfer (automatic)
4                          0           Electronic check

[5 rows x 29 columns]

### 28. Customer Satisfaction Surveys
Provides direct feedback on satisfaction levels, predicting churn.

In [74]:
cust_satisfaction_df = pd.read_csv('./data/satisfaction score/Customer-Churn-Records.csv')

kde = gaussian_kde(cust_satisfaction_df['Satisfaction Score'])

fake_data = np.maximum(kde.resample(len(bank_df_train)).flatten(), 0)
fake_data = np.minimum(fake_data.flatten(), 5)
fake_data = np.round(fake_data).astype(int)

fake_data_2 = np.maximum(kde.resample(len(bank_df_test)).flatten(), 0)
fake_data_2 = np.minimum(fake_data_2.flatten(), 5)
fake_data_2 = np.round(fake_data_2).astype(int)

bank_df_train['CustomerSatisfaction'] = fake_data
bank_df_test['CustomerSatisfaction'] = fake_data_2
# print(len(bank_df_test))
# print(len(fake_data_2))

print(bank_df_train['CustomerSatisfaction'].head(10))

0    4
1    2
2    4
3    2
4    5
5    2
6    2
7    3
8    4
9    4
Name: CustomerSatisfaction, dtype: int32

### 29. Feature Satisfaction
Scale on 1 to 5

In [75]:
feature_df = pd.read_csv('./data/feature_and_support_satisfaction/Customer-survey-data.csv')
feature_df = feature_df.dropna()
kde = gaussian_kde(feature_df['How satisfied were you with your overall delivery experience at Ali?                    1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied'])
bank_df_train['FeatureSatisfaction'] = kde.resample(len(bank_df_train)).flatten().astype(int)
bank_df_test['FeatureSatisfaction'] = kde.resample(len(bank_df_test)).flatten().astype(int)

print(bank_df_train['FeatureSatisfaction'].head())

0    5
1    4
2    4
3    5
4    4
Name: FeatureSatisfaction, dtype: int32

### 30. Support Satisfaction
Scale on 1 to 5

In [76]:
feature_df = pd.read_csv('./data/feature_and_support_satisfaction/Customer-survey-data.csv')
feature_df = feature_df.dropna()
kde = gaussian_kde(feature_df['How satisfied were you with the speed of delivery at Alis?                                1-5 where 1 = extremely dissatisfied and 5 = extremely satisfied'])
bank_df_train['SupportSatisfaction'] = kde.resample(len(bank_df_train)).flatten().astype(int)
bank_df_test['SupportSatisfaction'] = kde.resample(len(bank_df_test)).flatten().astype(int)

print(bank_df_train['SupportSatisfaction'].head())

0    2
1    1
2    0
3    4
4    5
Name: SupportSatisfaction, dtype: int32

### 31.Service Support Frequency (per mth)

In [77]:
support_freq = pd.read_csv("./data/support_frequency.csv")
kde = gaussian_kde(support_freq['no_of_cases'])
bank_df_train['service support frequency'] = abs(kde.resample(n_train).flatten()/12).astype(int)

### 32. Income Source
Indicates financial stability and potential churn risk.

In [78]:
income_source_df = pd.read_csv('./data/income source/adult.csv')

# print(transaction_channel_df.head())
income_sourcs = income_source_df['workclass'].unique().tolist()
income_sourcs.remove('?')
print(income_sourcs)
faked_data = [random.choice(income_sourcs) for _ in range(len(bank_df_train))]
faked_data_2 = [random.choice(income_sourcs) for _ in range(len(bank_df_test))]

bank_df_train['IncomeSource'] = faked_data
bank_df_test['IncomeSource'] = faked_data_2
print(bank_df_train.head())

['Private', 'Local-gov', 'Self-emp-not-inc', 'Federal-gov', 'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked']
   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  Marital Status  Housing Status  Dependants  \
0        0              2  ...        Divorced    norent_noown           2
1        0              2  ...        Divorced    norent_noown           3
2        0              2  ...          Single    norent_noown           3
3  148,883              1  ...         Married          rented           4
4        0              2  ...        Divorced           owned           2

   MarketingOffersAcceptance              PaymentMethod CustomerSatisfaction  \
0                          0  Bank transfer (automatic)                    4
1                          0    Credit card (automatic)                    2
2                          0           Electronic check                    4
3                          0  Bank transfer (automatic)                    2
4                          0           Electronic check                    5

   FeatureSatisfaction  SupportSatisfaction  service support frequency  \
0                    5                    2                          4
1                    4                    1                         16
2                    4                    0                          4
3                    5                    4                          5
4                    4                    5                         52

   IncomeSource
0     State-gov
1     State-gov
2  Never-worked
3  Self-emp-inc
4  Never-worked

[5 rows x 34 columns]

### 33. Credit Utilization
Reflects financial health and potential churn risk for credit customers.

In [79]:
credit_df = pd.read_csv('./data/credit utilization/BankChurners.csv')

kde = gaussian_kde(credit_df['Avg_Utilization_Ratio'])

fake_data = np.maximum(kde.resample(len(bank_df_train)).flatten(), 0)
fake_data = np.minimum(fake_data.flatten(), 1)
# fake_data = np.round(fake_data).astype(int)
fake_data_2 = np.maximum(kde.resample(len(bank_df_test)).flatten(), 0)
fake_data_2 = np.minimum(fake_data_2.flatten(), 1)

bank_df_train['CreditUtilization'] = fake_data
bank_df_test['CreditUtilization'] = fake_data_2

print(bank_df_train.head())

   id  CustomerId         Surname  CreditScore Geography Gender  Age  Tenure  \
0   0    15674932  Okwudilichukwu          668    France   Male   33       3
1   1    15749177   Okwudiliolisa          627    France   Male   33       1
2   2    15694510           Hsueh          678    France   Male   40      10
3   3    15741417             Kao          581    France   Male   34       2
4   4    15766172       Chiemenam          716     Spain   Male   33       5

   Balance  NumOfProducts  ...  Housing Status  Dependants  \
0        0              2  ...    norent_noown           2
1        0              2  ...    norent_noown           3
2        0              2  ...    norent_noown           3
3  148,883              1  ...          rented           4
4        0              2  ...           owned           2

   MarketingOffersAcceptance              PaymentMethod CustomerSatisfaction  \
0                          0  Bank transfer (automatic)                    4
1                          0    Credit card (automatic)                    2
2                          0           Electronic check                    4
3                          0  Bank transfer (automatic)                    2
4                          0           Electronic check                    5

  FeatureSatisfaction  SupportSatisfaction  service support frequency  \
0                   5                    2                          4
1                   4                    1                         16
2                   4                    0                          4
3                   5                    4                          5
4                   4                    5                         52

   IncomeSource  CreditUtilization
0     State-gov                  1
1     State-gov                  1
2  Never-worked                  0
3  Self-emp-inc                  1
4  Never-worked                  0

[5 rows x 35 columns]

### 34. Response to Previous Retention Efforts
Records success or failure of previous retention efforts, guiding future strategies. % 0-1

In [89]:
retention_df = pd.read_csv('./data/retention/HR_comma_sep.csv')

kde = gaussian_kde(retention_df['promotion_last_5years'])

fake_data = np.maximum(kde.resample(len(bank_df_train)).flatten(), 0)
fake_data = np.minimum(fake_data.flatten(), 1)

fake_data_2 = np.maximum(kde.resample(len(bank_df_test)).flatten(), 0)
fake_data_2 = np.minimum(fake_data_2.flatten(), 1)


bank_df_train['Retention'] = fake_data
bank_df_test['Retention'] = fake_data_2

print(bank_df_train['Retention'].head(20))

0    0.000000
1    0.000000
2    0.000558
3    0.004380
4    0.003791
5    0.001137
6    0.040838
7    0.010878
8    0.049369
9    0.000000
10   0.000000
11   0.004515
12   0.000000
13   0.003814
14   0.000000
15   0.013351
16   0.000000
17   0.012190
18   0.015541
19   0.055209
Name: Retention, dtype: float64

### 35. Change in behavior before n after
Average of percentage of increase/decrease (ranging from 0 - infinity, but most of the times it will be ard 0-2)

In [81]:
bank_df_train['ChangeInBehaviourMkt'] = np.random.normal(1, 0.25, len(bank_df_train))
bank_df_test['ChangeInBehaviourMkt']= np.random.normal(1, 0.25, len(bank_df_test))
# test = np.random.normal(1, 0.25, len(bank_df_train))
# # print(test)
# bank_df_train['ChangeInBehaviourMkt'] = test.astype(float)

print(bank_df_train['ChangeInBehaviourMkt'].head(10))

0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
Name: ChangeInBehaviourMkt, dtype: float64

### 36. Change in behavior before n after for Support

In [82]:
bank_df_train['ChanegInBehaviourCust'] = np.random.normal(1, 0.25, len(bank_df_train))
bank_df_test['ChanegInBehaviourCust']= np.random.normal(1, 0.25, len(bank_df_test))

print(bank_df_train['ChanegInBehaviourCust'].head())

0   1
1   1
2   1
3   1
4   0
Name: ChanegInBehaviourCust, dtype: float64

### 37. Previous Lifecycle status

In [83]:
life_cycles = ['Active', 'Dormant', 'Reactivated'] #everything but churned

bank_df_train['PrevLifecycle'] = bank_df_train.apply(lambda row: 'Churned' if row['Exited'] == 1 else np.random.choice(life_cycles), axis=1)

print(bank_df_train['PrevLifecycle'].head(10))

0    Reactivated
1        Dormant
2        Dormant
3    Reactivated
4    Reactivated
5        Churned
6        Dormant
7         Active
8        Dormant
9    Reactivated
Name: PrevLifecycle, dtype: object

### 38. Current Lifecycle status

In [84]:
prev_active = ['Active', 'Dormant'] #excluding churn, also same for reactivated
prev_dormant = ['Dormant', 'Reactivated'] #excluding churn

bank_df_train['CurrLifecycle'] = bank_df_train.apply(lambda row: 'Churned' if row['PrevLifecycle'] == 'Churned' else \
                                                    np.random.choice(prev_active) if (row['PrevLifecycle'] == 'Active' or row['PrevLifecycle'] == 'Reactivated') else \
                                                    np.random.choice(prev_dormant) if row['PrevLifecycle'] == 'Dormant' else \
                                                    np.nan, axis=1)

print(bank_df_train[['PrevLifecycle', 'CurrLifecycle']].head(10))

  PrevLifecycle CurrLifecycle
0   Reactivated        Active
1       Dormant       Dormant
2       Dormant   Reactivated
3   Reactivated       Dormant
4   Reactivated       Dormant
5       Churned       Churned
6       Dormant   Reactivated
7        Active       Dormant
8       Dormant       Dormant
9   Reactivated       Dormant

### 39. Customer Happiness Status 
1 == happy, 0 == unhappy

Customer satisfaction survey score 

Relationship Count 

Response to previous retention efforts (no more yay)

if we want the top 15.9%

In [95]:
happiness_benchmark = 84.1

# bank_df_train['Happiness'] = bank_df_train.apply(lambda row: 1 if row['CustomerSatisfaction'] + \
#                                                                   row['FeatureSatisfaction'] + \
#                                                                   row['SupportSatisfaction'] + \
#                                                                   row['NPS'] + \
#                                                                   row['Tenure'] >= happiness_benchmark else \
#                                                                   0, axis=1)


# need to delete Custpercentile, RsPercentile and ResponsePercentile later
bank_df_train['CustPercentile'] = bank_df_train['CustomerSatisfaction'].apply(lambda x: stats.percentileofscore(bank_df_train['CustomerSatisfaction'], x))
bank_df_train['RsPercentile'] = bank_df_train['RelationshipCount'].apply(lambda x: stats.percentileofscore(bank_df_train['CustomerSatisfaction'], x))

# print(bank_df_train['CustPercentile'].head(10))
bank_df_train['Happiness'] = bank_df_train.apply(lambda row: 1 if (row['CustPercentile'] > happiness_benchmark and row['RsPercentile'] > happiness_benchmark ) else 0, axis=1)
bank_df_train.drop(columns=['CustPercentile', 'RsPercentile'], inplace=True)

print(bank_df_train['Happiness'].head(10))
print("percentage happy =", (bank_df_train['Happiness'] == 1).mean() * 100)

0    0
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    0
9    0
Name: Happiness, dtype: int64
percentage happy = 20.18431592093364

### 40. Customer Personas

### 41. Price Sensitivity %
26. marketing offers accepted %
35. change in behaviour %

Mkting Offers Accepted
Change in behavior before n after for mkting offer

In [100]:
# distribution = bank_df_train['MarketingOffersAcceptance'].astype(float) * bank_df_train['ChangeInBehaviourMkt']
# pd.set_option('display.float_format', lambda x: '{:.6f}'.format(x))
# # print(distribution)
# percentiles = np.percentile(distribution, [0, 25, 50, 75, 100])

# def assign_percentile(metric):
#     if metric <= percentiles[1]:
#         return ((metric / percentiles[1]) * 25)
#     elif metric <= percentiles[2]:
#         return (25 + ((metric - percentiles[1]) / (percentiles[2] - percentiles[1])) * 25)
#     elif metric <= percentiles[3]:
#         return (50 + ((metric - percentiles[2]) / (percentiles[3] - percentiles[2])) * 25)
#     else:
#         return (75 + ((metric - percentiles[3]) / (percentiles[4] - percentiles[3])) * 25)
        
# bank_df_train['PriceSensitivity'] = distribution.apply(assign_percentile)
# bank_df_train['PriceSensitivity'] = bank_df_train['PriceSensitivity'].replace(np.NaN, 0, regex=True)


MarketingOffersAcceptance_df = bank_df_train['MarketingOffersAcceptance'].apply(lambda x: stats.percentileofscore(bank_df_train['MarketingOffersAcceptance'], x))
ChangeInBehaviourMkt_df = bank_df_train['ChangeInBehaviourMkt'].apply(lambda x: stats.percentileofscore(bank_df_train['ChangeInBehaviourMkt'], x))
# print(MarketingOffersAcceptance_df.head())
# print(ChangeInBehaviourMkt_df.head())
bank_df_train['PriceSensitivity'] = (MarketingOffersAcceptance_df + ChangeInBehaviourMkt_df) / 2

print(bank_df_train['PriceSensitivity'].head(20))

0    49.677016
1    65.389087
2    26.637526
3    70.884114
4    23.862021
5    77.733517
6    16.282675
7    81.859093
8    27.162913
9    40.304035
10   65.201757
11   50.613669
12   41.651953
13   45.060506
14   52.870247
15   37.883812
16   48.109470
17   49.534904
18   13.597606
19   63.668662
Name: PriceSensitivity, dtype: float64

### 42. Feature Driven % 
28. Customer satisfaction survey 0-5
6. num products 1-4
29. Feature Satisfaction 0-5

Number of products last 1 year
Feature Satisfaction Column (0 to 1)
Feature Support freq

In [87]:
# print(bank_df_train['NumOfProducts'].max())
# print(bank_df_train['NumOfProducts'].min())

feature_driven = bank_df_train['CustomerSatisfaction'] + bank_df_train['NumOfProducts'] + bank_df_train['FeatureSatisfaction']
percentiles = np.percentile(feature_driven, [0, 25, 50, 75, 100]) 

def assign_percentile(metric):
    if metric <= percentiles[1]:
        return ((metric / percentiles[1]) * 25)
    elif metric <= percentiles[2]:
        return (25 + ((metric - percentiles[1]) / (percentiles[2] - percentiles[1])) * 25)
    elif metric <= percentiles[3]:
        return (50 + ((metric - percentiles[2]) / (percentiles[3] - percentiles[2])) * 25)
    else:
        return (75 + ((metric - percentiles[3]) / (percentiles[4] - percentiles[3])) * 25)
        
bank_df_train['FeatureSensitivity'] = feature_driven.apply(assign_percentile)
bank_df_train['FeatureSensitivity'] = bank_df_train['FeatureSensitivity'].replace(np.NaN, 0, regex=True)

print(bank_df_train['FeatureSensitivity'].head(20))

0    85.000000
1    62.500000
2    80.000000
3    62.500000
4    85.000000
5    16.666667
6    16.666667
7    20.833333
8    75.000000
9    50.000000
10   62.500000
11   50.000000
12   25.000000
13   75.000000
14   25.000000
15   75.000000
16   50.000000
17   80.000000
18   20.833333
19   75.000000
Name: FeatureSensitivity, dtype: float64

### 43. Service Driven % 
31. service support freq per month number
39. Customer Happiness Status binary
36. Change in behavior before n after for Support %

CALL Support frequency
Support Satisfaction Column (0 to 1)
Change in behavior before n after support

### 44. Social Influencer

# EDA
1. covarience matrix
2. LDA
3. apriori
4. domain knowledge

### 1. Covariance matrix

In [ ]:
#code for covariance matrix

### 2. LDA

In [ ]:
#code for LDA

### 3. Aprior

In [ ]:
#code for apriori

### 4. Domain knowledge

In [ ]:
#domain knowledge....

# Model training:
1. Random forest
2. XGBoost
3. Logistic regression