In [1]:
import pdb
import pandas as pd
import numpy as np
import os

# Importing data:
bank1 = archive  
bank2 = bank+marketing

In [8]:
# print(os.getcwd())
bank1_df = pd.read_csv('./data/archive/Bank Customer Churn Prediction.csv')
bank2_df = pd.read_csv('./data/bank+marketing/bank/bank-full.csv', delimiter=';')

In [6]:
print(bank1_df.head())

   customer_id  credit_score country  gender  age  tenure    balance  \
0     15634602           619  France  Female   42       2       0.00
1     15647311           608   Spain  Female   41       1   83807.86
2     15619304           502  France  Female   42       8  159660.80
3     15701354           699  France  Female   39       1       0.00
4     15737888           850   Spain  Female   43       2  125510.82

   products_number  credit_card  active_member  estimated_salary  churn
0                1            1              1         101348.88      1
1                1            0              1         112542.58      0
2                3            1              0         113931.57      1
3                2            0              0          93826.63      0
4                1            1              1          79084.10      0

In [9]:
print(bank2_df.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no

to do:   
choose a df  

# EDA
1. covarience matrix
2. LDA
3. apriori
4. domain knowledge

### 1. Covariance matrix

In [ ]:
#code for covariance matrix

### 2. LDA

In [ ]:
#code for LDA

### 3. Aprior

In [ ]:
#code for apriori

### 4. Domain knowledge

In [ ]:
#domain knowledge....

# Model training:
1. Random forest
2. XGBoost
3. Logistic regression